<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2">
      <div class="row side-nav">
        <%= render(partial: 'shared/side_nav') %>
      </div>
    </div>
  </div>

  <div class="col-sm-10">
    <h2>How are you going to obtain this goal?</h2>
    <h3>Your plan of action: </h3>
  </div>
