<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<!-- If you delete this meta tag, the ground will open and swallow you. -->
<meta name="viewport" content="width=device-width" />

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Welcome to SLCfit</title>
  
<link rel="stylesheet" type="text/css" href="stylesheets/email.css" >

</head>
 
<body bgcolor="#7B52AB" topmargin="0" leftmargin="0" marginheight="0" marginwidth="0">

<!-- HEADER -->
<table class="head-wrap" bgcolor="#20293ffx">
  <tr>
    <td></td>
    <td class="header container" align="">
      
      <!-- /content -->
      <div class="content">
        <!-- <table bgcolor="#999999" > -->
          <tr>
            <!-- <td><img src="http://placehold.it/200x50/" /></td> -->
            <td align="right"><h4 class="collapse">SLCfit</h4></td>
          </tr>
        </table>
      </div><!-- /content -->
      
    </td>
    <td></td>
  </tr>
</table><!-- /HEADER -->

<!-- BODY -->
<table class="body-wrap" bgcolor="">
  <tr>
    <td></td>
    <td class="container" align="" bgcolor="#FFFFFF">
      
      <!-- content -->
      <div class="content">
        <table>
          <tr>
            <td>
              
              <center><h1>Welcome to SLCfit!</h1></center>
              <p class="lead">Thank you for signing up for SLCfit! Once you sign in create a goal and get tracking!</p>
              
              <!-- A Real Hero (and a real human being) -->
              <!-- <p><img src="https://www.facebook.com/photo.php?fbid=10153371953760380&set=a.164934290379.161572.732575379&type=1&theater" /></p> --><!-- /hero
              <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p> --> 
            </td>
          </tr>
        </table>
      </div><!-- /content -->
      
      <!-- content -->
      <div class="content">
        
        <table bgcolor="">
          <tr>
            <!-- <td class="small" width="20%" style="vertical-align: top; padding-right:10px;"><img src="http://placehold.it/75x75" /></td> -->
            <td>
              <h4>Hector Pina <small>Technical Lead</small></h4>
              <p class="">I have always had a thirst for learning how the internet works and finally took to the plunge and learned for myself. The skills I developed at Devpoint labs have groomed me to continue my quest as a developer, and as a person.</p>
              <!-- <a class="btn">Clickity Click &raquo;</a> -->
            </td>
          </tr>
        </table>
      
      </div><!-- /content -->
      
      <!-- content -->
      <div class="content"><table bgcolor="">
        <tr>
          <!-- <td class="small" width="20%" style="vertical-align: top; padding-right:10px;"><img src="http://placehold.it/75x75" /></td> -->
          <td>
            <h4>Megan Grisley <small>Design Lead</small></h4>
            <p class="">Born and raised in Salt Lake City I found web development and design after graduating from college. My main focuses have been on simple yet powerful web design and clean backend development.</p>
            <!-- <a class="btn">Clickity Click &raquo;</a> -->
          </td>
        </tr>
      </table></div><!-- /content -->
      
      <!-- content -->
      <div class="content"><table bgcolor="">
        <tr>
          <td>
            
            <!-- Callout Panel -->
            <!-- <p class="callout">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt. <a href="#">Do it Now! &raquo;</a>  </p> --><!-- /callout panel -->
            
          </td>
        </tr>
      </table></div><!-- /content -->
      
      <!-- content -->
      <div class="content"><table bgcolor="">
        <tr>
          <!-- <td class="small" width="20%" style="vertical-align: top; padding-right:10px;"><img src="http://placehold.it/75x75" /></td> -->
          <td>
            <h4>Rosie Thomas <small>Testing Master</small></h4>
            <p class="">I first became interested in programming as a math major in college. After graduating with math and chemistry emphases, I felt a need to do more. I joined DevPoint Labs and found my passion for web development! I loved implementing our biometrics feature, integrating the yelp api, and writing Rspec tests for SLCfit. I can't wait to do and learn more.</p>
            <!-- <a class="btn">Clickity Click &raquo;</a> -->
          </td>
        </tr>
      </table></div><!-- /content -->
      
      <!-- content -->
      <div class="content"><table bgcolor="">
        <tr>
          <!-- <td class="small" width="20%" style="vertical-align: top; padding-right:10px;"><img src="http://placehold.it/75x75" /></td> -->
          <td>
            <h4>Sean Ward <small>Javascript Ninja</small></h4>
            <p class="">I am currently a student at the University of Utah with a focus in Entrepreneurship and Mathematics. I have been studying computer science and development for the last one and a half years and plan to integrate my love of development into future career paths.</p>
            <!-- <a class="btn">Clickity Click &raquo;</a> -->
        
          </td>
        </tr>
      </table></div><!-- /content -->
      
      <!-- content -->
      <div class="content">
        <table bgcolor="">
          <tr>
            <td>
              
              <!-- social & contact -->
              <table bgcolor="" class="social" width="100%">
                <tr>
                  <td>
                    
                    <!--- column 1 -->
                    <div class="column">
                      <table bgcolor="" cellpadding="" align="left">
                    <tr>
                      <td>        
                        
                        <!-- <h5 class="">Connect with Us:</h5>
                        <p class=""><a href="#" class="soc-btn fb">Facebook</a> <a href="#" class="soc-btn tw">Twitter</a> <a href="#" class="soc-btn gp">Google+</a></p> -->
            
                        
                      </td>
                    </tr>
                  </table><!-- /column 1 -->
                    </div>
                    
                    <!--- column 2 -->
                    <!-- <div class="column">
                      <table bgcolor="" cellpadding="" align="center"> -->
                    <tr>
                      <td>        
                                      
                        <center><h5 class="">Questions or comments?</h5>                        
                Email: <strong><a href="emailto:contact.slcfit@gmail.com">contact.slcfit@gmail.com</a></strong></p></center>
                
                      </td>
                    </tr>
                  </table><!-- /column 2 -->  
                    </div>
                    
                    <div class="clear"></div>
  
                  </td>
                </tr>
              </table><!-- /social & contact -->
              
            </td>
          </tr>
        </table>
      </div><!-- /content -->
      

    </td>
    <td></td>
  </tr>
</table><!-- /BODY -->

<!-- FOOTER -->
<table class="footer-wrap">
  <tr>
    <td></td>
    <td class="container">
      
        <!-- content -->
        <div class="content">
          <table>
            <tr>
              <td align="center">
                <p>
                  <a href="#">Terms</a> |
                  <a href="#">Privacy</a> |
                  <a href="#"><unsubscribe>Unsubscribe</unsubscribe></a>
                </p>
              </td>
            </tr>
          </table>
        </div><!-- /content -->
        
    </td>
    <td></td>
  </tr>
</table><!-- /FOOTER -->

</body>
</html>