<h1 class="page-header">SLCfit</h1>

<div class="side-nav">
  <p><%= link_to 'Home', new_goal_path %></p>
  <hr />
  <p><%= link_to 'My Goals', goals_path %></p>
  <hr />
  <p><%= link_to 'New Goal', new_goal_path %></p>
  <hr/>
</div>


