<div class="container">

<div class="row">
  <h1>about the creators of SLCfit</h1>
  <hr />
</div>

<div class="row">
  <div class="col-sm-3">
    <img src="..." alt="..." class="img-circle">
    <h2>Hector</h2>
    <p>hector.slcfit@gmail.com</p>
    <p>hector is our awesome technical leader</p>
  </div>

   <div class="col-sm-3">
    <img src="..." alt="..." class="img-circle"> 
    <h2>Sean</h2>
    <p>sean.slcfit@gmail.com</p> 
    <p>sean is our logical mastermind</p> 
   </div>

   <div class="col-sm-3">
    <img src="..." alt="..." class="img-circle">
    <h2>Megan</h2>
    <p>megan is our genius design leader</p>
   </div> 

   <div class="col-sm-3">
    <img src="..." alt="..." class="img-circle">
    <h2>Rosie</h2>
    <p>rosie does some stuff</p>
   </div>    
  </div>

</div>