<div class="container">
  <div class="row">
    <h1>contact us</h1>
    <hr />
  </div>
  <div class="row">
    <form>
      <div class="form-group">
        <label for="email">Your Email</label>
        <input type="email" class="form-control" id="emailinput" placeholder="coolguy@gmail.com">
      </div>
      <div class="form-group">
        <label for="message">Message</label>
        <textarea type="text" class="form-control" id="messagetextarea" placeholder="Message"></textarea>
      </div>
      <button type="submit" class="btn btn-default">Send</button>
    </form>
  </div>
</div>
