<section id= "home" data-type="background" data-speed="10" class="pages">
<img src="/assets/SLCfit_logo.png" alt="..." id="slc-logo-img">
  <article id="header-logo">SLCfit</article>
  <div class="text-center">
    <a class="inner-link " href="#features">
      <i class="fa fa-chevron-down fa-5x page-scroll"></i>
    </a>
  </div>
</section>

<section id="features">
  <div class="container content" >
    <div>
      <div>
        <h1 class="text-center" id="features-heading">FEATURES</h1>
      </div>  
    <div class="col-lg-6 margin-features">
      <div class="row features-row">
        <p>
        <div class="icon-div">
          <i class="fa fa-heartbeat fa-5x pull-left"></i>
        </div>
            We're here to help you achieve your health and fitness goals!  Just tell us what you want to do, and we'll do the rest. Biscuit carrot cake cotton candy chocolate bar jelly donut chocolate bear claw oat cake. Liquorice jelly.
        </p><br>
      </div>
        <div class="row features-row">
          <p>
          <div class="icon-div">
             <i class="fa fa-bar-chart fa-5x pull-left"></i>
          </div>
              Pudding jelly-o chocolate cake sweet roll chocolate brownie icing cookie bear claw. Ice cream cupcake sweet roll brownie ice cream topping toffee cupcake. Biscuit carrot cake cotton candy chocolate bar jelly donut chocolate bear claw oat cake. Liquorice jelly. 
          </p>
        </div>
    </div>
    <div class="col-lg-6 margin-features">
      <div class="row features-row">
        <p>
          <div class="icon-div"> 
            <i class="fa fa-star-half-full fa-5x pull-left"></i>
          </div>
          Create goals. Track your activities and overal. progress. Crush it! Biscuit carrot cake cotton candy chocolate bar jelly donut chocolate bear claw oat cake. Liquorice jelly.</p><br>
        </div>
        <div class="row features-row">
          <p>
            <div class="icon-div">
              <i class="fa fa-bicycle fa-5x pull-left"></i>
            </div>
            Hate working out alone?  Need friends to go hike that new trail you found? Connect with others in your area to achieve your goals. Biscuit carrot cake cotton candy chocolate bar jelly donut chocolate bear claw oat cake.</p>
        </div>
    </div>
  </div>
</section>

<section id= "features-img" data-type="background" data-speed="10" class="pages">
  <div class="container">
    <div class="dashboard-content">
    </div>
  </div>
</section>

<section id="features">
   <div class="container content" >
    <div>
      <div>
        <h1 class="text-center" id="features-heading">WHAT USERS ARE SAYING</h1>
      </div>  
    <div class="col-lg-6 margin-features">
      <div class="row features-row">
        <p>
        <div class="icon-div">
          <i class="fa fa-user fa-5x pull-left"></i>
        </div>
            Lorizzle ipsum dolizzle funky fresh uhuh ... yih!, my shizz adipiscing elizzle. Nullam yippiyo velizzle, tellivizzle volutpizzle, suscipizzle quis, gravida that's the shizzle, arcu. Pellentesque eget tortizzle. Brizzle erizzle. Gizzle izzle dolizzle break it down crunk tempizzle dope. Maurizzle pellentesque yo mamma shut the shizzle up rizzle. Cool in tortor. - John Stockton
        </p><br>
      </div>
        <div class="row features-row">
          <p>
          <div class="icon-div">
             <i class="fa fa-user fa-5x pull-left"></i>
          </div>
              Praesent sheezy hizzle pot dawg fo shizzle bibendizzle. Aliquizzle lacinia viverra lectus. I saw beyonces tizzles and my pizzle went crizzle izzle phat its fo rizzle leo sodales owned. lobortizzle, shizznit you son of a bizzle dapibus things, nulla ligula bibendum metus, izzle venenatis augue dui izzle shizzle my nizzle crocodizzle. Vivamizzle check it out lacizzle yo mamma owned.  - Rick Smooth
          </p>
        </div>
    </div>
    <div class="col-lg-6 margin-features">
      <div class="row features-row">
        <p>
          <div class="icon-div"> 
            <i class="fa fa-user fa-5x pull-left"></i>
          </div>
          Fusce its fo rizzle, nulla go to hizzle sollicitudin pizzle, away quizzle mofo erat, vitae bling bling augue purizzle vitae arcu. I saw beyonces tizzles and my pizzle went crizzle uhuh ... yih! lacizzle. Nunc sed things. Boom shackalack dizzle turpis. Vestibulizzle a magna. Sizzle ass erat, funky fresh id, tempor izzle, facilisis izzle, pede. Nunc shiznit. I saw beyonces tizzles and my pizzle went crizzle boofron sizzle, mofo sure amet, ultricizzle away, tincidunt nizzle, augue. - Chauncey Livermore</p><br>
        </div>
        <div class="row features-row">
          <p>
            <div class="icon-div">
              <i class="fa fa-user fa-5x pull-left"></i>
            </div>
             Suspendisse vehicula. Crizzle crazy leo shiz mi. Etiam pellentesque. In pizzle dizzle platea dictumst. Cras funky fresh leo dawg diam yippiyo eleifend. Fo shizzle erizzle phat, pulvinar yippiyo, fringilla a, consectetizzle shit, crunk. Morbi get down get down nibh ut brizzle tempizzle fringilla. - Wayne</p>
        </div>
    </div>
  </div>
</section>

<section id= "contact" data-type="background" data-speed="10" class="pages">
  <article>I Am Contact</article>
</section>


