<section id= "home" data-type="background" data-speed="10" class="pages">
<img src="/assets/SLCfit_logo_master.png" alt="..." id="slc-logo-img">
  <article id="header-logo">SLCfit</article>
  <div class="text-center">
    <a class="inner-link " href="#features">
      <i class="fa fa-chevron-down fa-5x page-scroll"></i>
    </a>
  </div>
</section>

<section id="features">
  <div class="container content">
    <div>
      <div>
        <h1 class="text-center" id="features-heading">FEATURES</h1>
      </div>  
      <div class="col-lg-6 margin-features">
        <div class="row features-row">
          <p>
            <div class="icon-div">
              <i class="fa fa-heartbeat fa-5x pull-left"></i>
            </div>
            Tell us what you want to do, and we'll take care of the rest. Track your health and fitness goals and personal data, and connect with others.
          </p><br>
        </div>
        <div class="row features-row">
          <p>
            <div class="icon-div">
             <i class="fa fa-bar-chart fa-5x pull-left"></i>
           </div>
           Take advantage of our analytics!  Each you enter your personal data, we'll track it so you can visualize your progress. 
         </p>
       </div>
     </div>
     <div class="col-lg-6 margin-features">
      <div class="row features-row">
        <p>
          <div class="icon-div"> 
            <i class="fa fa-star-half-full fa-5x pull-left"></i>
          </div>
          We're here to help you achieve.  Set goals. Track your activities.  See your progress. Crush it! </p><br>
        </div>
        <div class="row features-row">
          <p>
            <div class="icon-div">
              <i class="fa fa-bicycle fa-5x pull-left"></i>
            </div>
            Hate working out alone?  Need friends to go hike that new trail you found? Use the forum to connect with others in your area to achieve your goals. </p>
          </div>
        </div>
      </div>
    </section>

<section id= "features-img" data-type="background" data-speed="10" class="pages">
  <div class="container">
    <div class="dashboard-content">
      <h3 id="dashboard-heading">User Dashboard</h3>
      <img src="assets/griz_bio_data.png" alt="..." id="dashboard-img" class="img-responsive">
      <div class="row p-padding">
      <div class="col-sm-12">
        <p id="dashboard-text">Use our biometrics to keep yourself on track.  Visualize your physical progress and reach your goals!  The graphs will automatically accept your data.</p>
        </div>
      </div>
  </div>
</section>

<section id="features">
  <div class="container" id="testimonial-content" >
    <div>
      <div>
        <h1 class="text-center" id="features-heading">WHAT USERS ARE SAYING</h1>
      </div>  
      <div class="col-lg-6 margin-features">
        <div class="row features-row">
          <div class="icon-div">
            <i class="fa fa-user fa-5x pull-left"></i>
          </div>
          <p>"I used to weigh 300 pounds.  Thanks to SLCfit, I lost half my body weight in just 6 months!  I was able to track my weight as I accomplished my goals.  Thanks SLCfit!"</p>  
          <p class="pull-right">- John Stockton</p>
          <br>
        </div>
        <div class="row features-row">
          <p>
            <div class="icon-div">
             <i class="fa fa-user fa-5x pull-left"></i>
           </div>
           <p>"I'm a pretty active guy, but I needed someting to help me track my goals and progress.  SLCfit was just the thing.  It helped me reach further and become the ultimate athlete."</p>  
           <p class="pull-right">- Rick Smooth</p>
         </div>
       </div>
       <div class="col-lg-6 margin-features">
        <div class="row features-row">
          <div class="icon-div"> 
            <i class="fa fa-user fa-5x pull-left"></i>
          </div>
          <p>"I used to weight 300 pounds, and now I'm running marathons all thanks to SLCfit."</p>
          <p class="pull-right"> - Chauncey Livermore</p><br>
        </div>
        <div class="row features-row padding-above">
          <div class="icon-div">
            <i class="fa fa-user fa-5x pull-left"></i>
          </div>
          <p>"I guess this site is okay.  PSYCH!  I love it!  I used the goals tracker to push myself and the forums to meet up with other active people."</p> 
          <p class="pull-right">- Wayne</p>
        </div>
      </div>
    </div>
</section>

<section id= "contact" data-type="background" data-speed="10" class="pages">
  <article id="team-header">The Team</article>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 top-img">
      <div class="corner-edge">
        <img src="assets/megan_headshot.png" alt="..." class="img-circle img-responsive headshots">
      </div>
        <div class="text-div">
          <h3 class="text-center">Megan Grisley</h3>
          <p class="personal-statements">Our greatest weakness lies in giving up. The most certain way to succeed is always to try just one more time.</p>
          <p class="quote-name">--Thomas A. Edison</p>
        </div>
      </div>
      <div class="col-lg-6 top-img">
      <div class="corner-edge">
        <img src="assets/hector.png" alt="..." class="img-circle img-responsive headshots">
      </div>
        <div class="text-div">
          <h3 class="text-center">Hector Pi&ntildea</h3>
          <p class="personal-statements">There is no passion to be found playing small - in settling for a life that is less than the one you are capable of living.</p>
          <p class="quote-name">--Nelson Mandela</p>
        </div>
      </div>
      <div class="col-lg-6 bottom-img">
      <div class="corner-edge">
        <img src="assets/rosie2.png" alt="..." class="img-circle img-responsive headshots">
      </div>
        <div class="text-div">
          <h3 class="text-center">Rosie Thomas</h3>
          <p class="personal-statements">Failure will never overtake me if my determination to succeed is strong enough.</p>
          <p class="quote-name">--Og Mandino</p>
        </div>
      </div>
      <div class="col-lg-6 bottom-img">
      <div class="corner-edge">
        <img src="assets/sean_edit.png" alt="..." class="img-circle img-responsive headshots">
      </div>
        <div class="text-div">
          <h3 class="text-center">Sean Ward</h3>
          <p class="personal-statements">If you don't like something, change it. If you can't change it, change your attitude. Don't complain</p>
          <p class="quote-name">--Maya Angelou</p>
        </div>
      </div>
    </div>
  </div>
</section>


