<section id= "home" data-type="background" data-speed="10" class="pages">
  <article>I am Home</article>
</section>


<section id= "features" data-type="background" data-speed="10" class="pages">
  <article>I am About/Description</article>
</section>


<section id= "contact" data-type="background" data-speed="10" class="pages">
  <article>I Am Contact</article>
</section>


