<section id= "home" data-type="background" data-speed="10" class="pages">
  <article>SLCfit</article>
</section>

<section>
  <div class="content">
    FEATURES!!
  </div>
</section>

<section id= "features" data-type="background" data-speed="10" class="pages">
  <article>I am About/Description</article>
</section>

<section>
  <div class="content"></div>
</section>

<section id= "contact" data-type="background" data-speed="10" class="pages">
  <article>I Am Contact</article>
</section>


