<section id= "home" data-type="background" data-speed="10" class="pages">
  <article>SLCfit</article>
  <div class="text-center">
    <a class="inner-link " href="#features">
      <i class="fa fa-chevron-down fa-5x page-scroll"></i>
    </a>
  </div>
</section>

<section id="features">
  <div class="container content" >
    <div class="content-row">
      <div class="padding-bottom">
        <h1 class="text-center" id="features-heading">FEATURES</h1>
      </div>
    <div class="col-md-6">
      <div class="row features-row">
        <p>
        <div class="icon-div">
          <i class="fa fa-heartbeat fa-5x pull-left"></i>
        </div>
            We're here to help you achieve your health and fitness goals!  Just tell us what you want to do, and we'll do the rest. Biscuit carrot cake cotton candy chocolate bar jelly donut chocolate bear claw oat cake. Liquorice jelly.
        </p><br>
      </div>
        <div class="row features-row">
          <p>
          <div class="icon-div">
            <i class="fa fa-star-half-full fa-5x pull-left"></i>
          </div>
              Pudding jelly-o chocolate cake sweet roll chocolate brownie icing cookie bear claw. Ice cream cupcake sweet roll brownie ice cream topping toffee cupcake. Biscuit carrot cake cotton candy chocolate bar jelly donut chocolate bear claw oat cake. Liquorice jelly. 
          </p>
        </div>
    </div>
        <div class="col-md-6">
          <div class="row features-row">
            <p>
            <div class="icon-div"> 
              <i class="fa fa-bar-chart fa-5x pull-left"></i>
            </div>
              Create goals. Track your activities and overal. progress. Crush it! Biscuit carrot cake cotton candy chocolate bar jelly donut chocolate bear claw oat cake. Liquorice jelly.</p><br>
          </div>
      <div class="row features-row">
          <p>
          <div class="icon-div">
            <i class="fa fa-bicycle fa-5x pull-left"></i>
          </div>
            Hate working out alone?  Need friends to go hike that new trail you found? Connect with others in your area to achieve your goals. Biscuit carrot cake cotton candy chocolate bar jelly donut chocolate bear claw oat cake.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id= "features-img" data-type="background" data-speed="10" class="pages">
  <article>I am About/Description</article>
</section>

<section>
  <div class="container content"></div>
</section>

<section id= "contact" data-type="background" data-speed="10" class="pages">
  <article>I Am Contact</article>
</section>


