<section id= "home" data-type="background" data-speed="10" class="pages">
  <article>SLCfit</article>
</section>

<section>
  <div class="content container">
    <div class="row">
      <h1 class="text-center ">FEATURES</h1>
      <div class="col-sm-6">
        <div class="row">
        <p><i class="fa fa-heartbeat fa-5x pull-left"></i>
        We're here to help you achieve your health and fitness goals!  Just tell us what you want to do, and we'll do the rest.</p><br>
        </div>
        <div class="row">
        <p><i class="fa fa-star-half-full fa-5x pull-left"></i>
          Pudding jelly-o chocolate cake sweet roll chocolate brownie icing cookie bear claw. Ice cream cupcake sweet roll brownie ice cream topping toffee cupcake. Biscuit carrot cake cotton candy chocolate bar jelly donut chocolate bear claw oat cake. Liquorice jelly 
        </p>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="row">
        <p><i class="fa fa-bar-chart fa-5x pull-left"></i>
        Create goals. Track your activities and overal. progress.  Crush it!</p><br>
        </div>
        <div class="row features-row">
        <p><i class="fa fa-bicycle fa-5x pull-left"></i>
        Hate working out alone?  Need friends to go hike that new trail you found?  Connect with others in your area to achieve your goals.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id= "features" data-type="background" data-speed="10" class="pages">
  <article>I am About/Description</article>
</section>

<section>
  <div class="content"></div>
</section>

<section id= "contact" data-type="background" data-speed="10" class="pages">
  <article>I Am Contact</article>
</section>


