<div class="row">
  <div class="col-sm-12">

    <%= @search_results %>

    <!-- Hey Rosie! Have fun with this tomorrow! You'll figure it out :) -->
    <!-- You need to parse @search_results to display everything -->
    <!-- Essentially you'll iterate through the results -->
    <!-- Good luck! You can Slack me! -->
    <!-- Also slack Will! -->

  </div>
</div>


