<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for joining SLCfit, <%= @user.name %>!</h1>
    <p>We are excited to help you acheive your goals! Now signin and get moving!</p>
  </body>
</html>