textarea.description {
  resize: none;
}

.activity-row {
  margin-bottom: 10px;
}


.square{
    border-left:1px solid #000;
    border-right:1px solid #000;
    border-top:1px solid #000;
    border-bottom:1px solid #000;
    height: 200px;
    width: 12%;
}

// @media (max-width: 1108px){
//   .square{
//     width: 11.8%;
//   }
// }

// .act-button{
//   color: white;
//   background-color: #403871;
// }

.underline{
  border-bottom: 1px solid;
}

.calender-week, #log-activities-button, .act-button {
  color: white;
  background-color: #403871;
}

.progress-bar{
  background-color: #20293F;
}

.calender-week {
  width: 100%;
}

.large-icon {
  font-size: 35px
}

.swimming:before {
  content: url(swimming_icon_small.png);
}

.yoga:before {
  content: url(yoga_ico.png);
}

.gym:before {
  content: url(gym_ico.png);
}
