@import "font-awesome";
@import 'foundation-icons';
@import "bootstrap-custom";
@import "simple-side";
@import "activities";
@import "goals";
@import "users";
@import "weeks";
@import "welcome";
@import "forem/base";
@import "forums";


.bg-img-width {
  padding: 0;
}

@font-face {
    font-family: 'weather';
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot');
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.woff') format('woff'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.ttf') format('truetype'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.svg#artill_clean_weather_iconsRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
  width: 100%;
  height: 100%;
  background-size: cover;
}

/* FONTS */

h3 {
  font-family: 'Raleway', sans-serif, "Helvetica Neue", Helvetica;
}

h2 {
   font-family: 'Roboto Slab', serif;
   cursor: pointer;
   font-size: 50px;
}

/*h3 {
  font-family: 'Poiret One', cursive;
}
*/
body {
  min-height: 100%;
  min-width: 100%;
  padding: 0 0 0 0;
  font: 13px 'Open Sans', "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-family: 'Raleway', sans-serif;
}


/*  WEATHER */

#weather {
  width: 100%;
  margin: 0px auto;
  text-align: center;
  text-transform: uppercase;

    i {
      color: white;
      font-family: weather;
      font-size: 50px;
      font-weight: normal;
      font-style: normal;
      line-height: 1.0;
    }

}

.icon-0:before { content: ":"; }
.icon-1:before { content: "p"; }
.icon-2:before { content: "S"; }
.icon-3:before { content: "Q"; }
.icon-4:before { content: "S"; }
.icon-5:before { content: "W"; }
.icon-6:before { content: "W"; }
.icon-7:before { content: "W"; }
.icon-8:before { content: "W"; }
.icon-9:before { content: "I"; }
.icon-10:before { content: "W"; }
.icon-11:before { content: "I"; }
.icon-12:before { content: "I"; }
.icon-13:before { content: "I"; }
.icon-14:before { content: "I"; }
.icon-15:before { content: "W"; }
.icon-16:before { content: "I"; }
.icon-17:before { content: "W"; }
.icon-18:before { content: "U"; }
.icon-19:before { content: "Z"; }
.icon-20:before { content: "Z"; }
.icon-21:before { content: "Z"; }
.icon-22:before { content: "Z"; }
.icon-23:before { content: "Z"; }
.icon-24:before { content: "E"; }
.icon-25:before { content: "E"; }
.icon-26:before { content: "3"; }
.icon-27:before { content: "a"; }
.icon-28:before { content: "A"; }
.icon-29:before { content: "a"; }
.icon-30:before { content: "A"; }
.icon-31:before { content: "6"; }
.icon-32:before { content: "1"; }
.icon-33:before { content: "6"; }
.icon-34:before { content: "1"; }
.icon-35:before { content: "W"; }
.icon-36:before { content: "1"; }
.icon-37:before { content: "S"; }
.icon-38:before { content: "S"; }
.icon-39:before { content: "S"; }
.icon-40:before { content: "M"; }
.icon-41:before { content: "W"; }
.icon-42:before { content: "I"; }
.icon-43:before { content: "W"; }
.icon-44:before { content: "a"; }
.icon-45:before { content: "S"; }
.icon-46:before { content: "U"; }
.icon-47:before { content: "S"; }

#weather p {
  margin: 0 0 0px;
  color: white;
  font-size: 30px;
  font-weight: 300;
  text-align: right;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
}

#weather ul {
  margin: 0;
  padding: 0;
  float: right;
}

#weather li {
  background: #fff;
  background: rgba(255,255,255,0.90);
  padding: 20px;
  /*display: inline-block;*/
  border-radius: 5px;

}

#weather .currently {
  margin: 0 20px;
}

.header {
  min-height: 65px;
  background-color: $site-bg-purple;
  text-align: center;
  padding-top: 5px;
}

.front-page-top {
  padding-top: 30px;
}

.footer-main {
  height: 30px;
  bottom: 0;
  width: 100%;
  background-color: $site-bg-purple;
  color: white;
  position: fixed;
  text-align: right;
  padding-right: 20px;
  margin: 0;

}

#carousel-example-generic > div > a.left.carousel-control > span.glyphicon.glyphicon-chevron-left {
  top: 2%;
}

#carousel-example-generic > div > a.right.carousel-control > span.glyphicon.glyphicon-chevron-right {
  top: 2%;
}
.carousel-indicators {
  z-index: 1;
  margin-top: 10px;
}
#carousel-example-generic > ol > li {
  border: 1px solid #403871;
}

#carousel-example-generic > ol > li.active {
  background-color: #403871;
}

#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
  padding-top: 10px;
  margin-left: 10px;
}

.container-error {
  margin-top: 100px;
}

#page-content-wrapper > div > div:nth-child(3) > div {
  padding-bottom: 20px;
}

#page-content-wrapper {
  padding-bottom: 40px;
}

/*.left {
  height: 50px;
  width: 300px;
  bottom: 0;
}

.right {
  height: 50px;
  width: 300px;
}*/
