// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*Before action when User clicks chevron more arrow to place div in correct position...*/
#features:before { 
  display: block; 
  content: " "; 
  margin-top: -50px; 
  height: 75px; 
  visibility: hidden; 
}
/*End before action styles*/

/*Parallax Scrolling Sections*/
#home { 
  background: url(SLC_view.png) 50% 0 repeat fixed; min-height: 1000px;
  height: 100%; 
  margin: 0 auto; 
  width: 100%; 
  max-width: 1920px; 
  position: relative;

}

#slc-logo-img {

  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}

.fa-chevron-down {
  margin-top: 140px;
  color: white;
}

#features-img { 
  background: url(YOGA_ori_copy.png) 50% 0 repeat fixed; min-height: 1000px;
  height: 100%; 
  margin: 0 auto; 
  width: 100%; 
  max-width: 1920px; 
  position: relative;

}

#contact { 
  background: url(running_dude_copy.png) 50% 0 repeat fixed; min-height: 1000px;
  height: 100%; 
  margin: 0 auto; 
  width: 100%; 
  max-width: 1920px; 
  position: relative;

}
/*End Parallax Sections*/

/*Fetaures Div Styles*/
#features {
  background-color: #f8f8f8;
}

#header-logo {
  padding-top: 100px;
  text-align: center;
  font-size: 100px;
  color: white;
}

.content {
  height: 430px; 
    @media screen and (max-width: 480px){
      height: 730px;
  }
}

.content-row {
  padding-top: 0px;
}

.row .features-row {
  margin-left: -50px;
  margin-right: 60px;
}

.text-center {
  text-align: center;
}


#features-heading {
  padding-top: 15px;
  padding-bottom: 20px;
  font-size: 60px;
  font-weight: bold;
}

.icon-div{
  padding-bottom: 20px;
}

.header-splash {
  min-height: 20px;
}

.margin-features {
  margin-left: 0;
  padding-left: 50px; 
  padding-right: 50px;
}
/*End Features div*/

/*Dashboard Views Div*/
.dashboard-content {
  margin-top: 100px;
  margin-left: 600px;
  width: 600px;
  height: 400px;
  background-color: #f8f8f8;
  border-radius: 50px;
}

#dashboard-heading {
  text-align: center;
  padding-top: 20px;
}

#dashboard-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
}

#dashboard-text {
  padding-top: 20px;
  margin-right: 565px;
  margin-left: 10px;
}
/*Dashboard View End*/



































