
<%= form_for :activity, url: goal_week_activities_path(@goal.id, locals[:week_id]) do |f| %>
  <div class="form-group">
    <%=  f.label('Type') %>
    <br>
    <%= f.select :type, Activity.types %>
  </div>
  <button type="submit" class="act-button btn btn-default">Add Activity</button>
<% end %>
