<div id="activity_display">
  <%= render partial: "activities_display", locals: {activities_not_complete: @activities_not_complete, activities_complete: @activities_complete} %>
</div>

<%= link_to "Add Activity", new_goal_week_activity_path(@goal.id, @week.id), class: 'btn btn-primary' %>
<br>
<br>
<%= link_to "Weeks", goal_weeks_path(@goal.id), class: "btn btn-primary" %>
<br>
<br>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
  Log Activities
</button>

<!-- Modal -->
<div class="container-fluid">
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Log Activities</h4>
        </div>
        <div class="modal-body">
          <div id="activities-holder">

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" id="log-activities-button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>
