<h3>it looks like you don't have any biometric data!  create new biometric data to start tracking your progress.</h3>
<h3><%= link_to ' ', main_app.new_biometric_path, class: "fa fa-plus-circle fa-3x", data: {toggle: "tooltip", placement: "top"}, title: "new biometric"%></h3>

